/* Local Font Face Declarations */

@font-face {
    font-family: 'Sora';
    src: url('./Sora-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'Righteous';
    src: url('./Righteous-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url('./Onest-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-display: swap;
}
